/* Global setting */

/* 全局设定 */

body {
	font-size: 1em;
	line-height: 1.2;
}

/* 主标题 */

.main-title {
	font-size: 1.5em;
	font-weight: 600;
	text-align: center;
}

/* 一级标题 */

.first-level-title {
	font-size: 1.3em;
	font-weight: 600;
}

/* 二级标题 */

.second-level-title {
	font-size: 1.1em;
	font-weight: 500;
}

/* 内容 */

.main-content {
	font-size: 1em;
	text-indent: 2em;
	margin: 0.1em 0.2em;
}

/* 内容加粗 */

.main-content-bold {
	font-size: 1em;
	text-indent: 2em;
	margin: 0.1em 0.2em;
	font-weight: 500;
}

/* 内容标记黄色 */

.tag-content-yellow {
	font-size: 1em;
	text-indent: 2em;
	margin: 0.1em 0.2em;
	color: #ffc000;
}

/* 作者 */

.author {
	font-size: 1.2em;
	text-align: right;
	font-weight: 500;
	margin: 0.1em 0.2em;
}